<li class="post">
	<div class="meta">
		<div class="text">
			<a class="blog-title" href="{{ post.url }}">{{ post.title }}</a>
			<span class="date">{{ post.date | date_to_string }}</span>
			<div class="tags">
				<span>tags:</span>
				{% for tag in post.tags %}
					{% unless forloop.last %}
						<a href="/blog/tags#{{ tag }}">{{ tag }}</a>,
					{% endunless %}
				{% endfor %}
				<a href="/blog/tags#{{ post.tags[-1] }}">{{ post.tags[-1] }}</a>
			</div>
		</div>
		<div class="summary">{{ post.description }}</div>
	</div>

	<div class="excerpt">
		{{ post.excerpt | markdownify | excerpt }}
	</div>
</li>
